.container{
  max-width: 80vw;
  padding: 20px;
  margin: auto;
}
input{
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
button{
  border: none;
  background-color: rgb(67, 154, 253);
  padding: 10px;
  border-radius: 5px;
}
button:hover{
  background-color: blueviolet;
  color: white;
  transition: background 0.5s;
}